<!DOCTYPE html>
<html>
<head><title>404 Not Found</title></head>
<body>
  <h1>Page Not Found</h1>
  <p>The page you were looking for does not exist.</p>
  <%= link_to "Go back home", root_path %>
</body>
</html>
